<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Reservation</title>
</head>
<body>
    {% if messages %}
        <ul class="messages" style="list-style-type:none; padding:10px; border: 1px solid red; background-color: #fdd;">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Reserve Computer {{ computer.bilgisayar_id }} in Lab {{ computer.lab.lab_adi }}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Confirm Reservation</button>
    </form>

    <br>
    <a href="{% url 'lab_detail' computer.lab.lab_id %}">Cancel and Go Back</a>
</body>
</html>
